body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
text-align: center;
}

#featured-property img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#featured-property p {
  text-align: center;
  line-height: 1.5em;
  margin-left: auto;
  margin-right: auto;
  width: 800px
}

nav {
  display:block;
  text-align: center;
}
nav a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: grey;
}

figcaption {
  text-align: center;
  font-size: small;
}
